@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.view-column--container {
  margin: .5rem !important;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

/* ---- Navigation ---- */

.logo-header-sansSerif
{
  font-family: 'Raleway', sans-serif;
  margin-top: .1rem;
  font-size: 2.5rem;
}

.logo-text-sansSerif
{
  font-family: 'Raleway', sans-serif;
  margin-top: .1rem;
  font-size: 1.4rem;
}

.logo-text-serif {
  font-family: 'Noto Serif', serif;
  margin-left: .3rem;
  font-size: 1.2rem;
}

.logo-icon {
  margin-right: .5rem !important;
}

.container-base button {
  padding: 1rem;
  margin: 0 .3rem;
  width: 7rem;
}

.nav-controls div, form, button {
  display: flex;
  justify-content: center;
}

.nav-links {
  color: #f1f1f1 !important;
}

.nav-links:hover {
  color: #5E81AC !important;
}

/*  ----- Activity view ----- */

.dropdown-container-parent--div > div {
  margin-right: 2rem !important;
}

.dropdown-container-parent--div > div + div {
  margin-right: 2rem !important;
}
/* .dropdown-form--div {
  margin-right: 3rem;
} */


/* ---- Search ---- */

.search-button--span {
  padding-right: .5rem !important;
  width: 7rem;
}

.search-icon {
  margin-right: .2rem !important;
}

/* ---- Home view ---- */

.loading-container--div {
  min-width: 75vw;
  width: 95vw !important;
  min-height: 80vh;
  height: 90vh !important;
  overflow: hidden;
}

.loading-notification--div {
  margin-left: 2vw;
  width: 95vw !important;
  height: 80vh !important;
}

.loading-notification--div div {
  margin-top: 15%;
}

.loading-alignment {
  text-align: center;
  justify-content: center !important;
}

.home-header-dark {
  color: #f1f1f1 !important;
}

.notification-col--container {
  height: 60rem;
  min-width: 35rem !important;
  /* min-width: 50rem; */
}

.featured-comic--container {
  max-height: 65vh;
}

.featured-comic--container div img {
  width: 20vw !important;
  margin-left: 25% !important;
  min-width: 45% !important;
  max-width: 55% !important;
}

.newsstand-container {
  height: 60rem;
  padding-bottom: 5rem;
  overflow-y: scroll !important;
  overflow: auto;
}

.newstand-table {
  margin-left: 1% !important;
  height: 58rem !important;
}

.newstand-container:after{
  content: "";
  display: block;
  width: 100%;
  height: 50rem;
}

.table-row--container {
  height: 9rem;
  max-height: fit-content;
}

.table-row--container th, td {
  /* text-align: center; */
  vertical-align: middle !important;
}

.table-row--container td figure {
  display: grid;
  grid-row-start: 10rem;
  grid-auto-rows: max-content;
  justify-content: center;
  align-content: center;
}

/*  ----- Releases views ----- */

.tag--container {
  margin-top: .5rem !important;
  height: fit-content !important;
  width: 9rem; 
  display: flex;
  justify-content: center;
  align-content: center;
}

.tag--container figure {
  margin-top: .2rem !important;
  height: fit-content !important;
}


dropdown-container-parent--div

.reading-card--div {
  flex-wrap: wrap;
  min-height: 20rem !important;
  max-height: 30rem !important;
}

.reading-card-end--div {
  flex-wrap: wrap;
  min-height: 20rem !important;
}

.reading-header--div {
  height: 6.5rem !important;
  max-height: 16rem !important;
}

.reading-cover--img img {
  border-radius: 5px;
}

.reader-tag--div {
  margin-top: .5rem !important;
  height: fit-content !important;
  width: 9rem; 
  display: flex;
  justify-content: center;
  align-content: center;
}

.reader-tag--div figure {
  margin-top: .2rem !important;
  height: fit-content !important;
}

.reader-tag--div img {
  width: 85% !important;
}
/*  ----- Activity view ----- */

.activity-box--div {
  min-height: 30rem;
  height: 75vh;
  min-width: 50rem;
  /* width: 55rem !important; */
  max-width: 75vw !important;
  overflow: hidden;
  overflow-y: scroll;
}

.activity-box--div div {
  padding: 0 1rem 0;
  /* width: 90%; */
}

.activity-tile--div {
  width: 30rem;
}

.activty-tile-follower--div {
  width: 35rem;
}

.follower-avatar--img {
  margin-right: .9rem !important;
}

.activity-tile-self--div {
  /* width: 30rem; */
  margin-left: 10rem !important;
  /* margin-top: 1rem; */
  margin-bottom: 1.5rem !important;
}

.activty-cover--img img {
  border-radius: 5px;
}

.activity-follow--btn {
  display: flex;
  justify-items: center;
  width: 5.6rem;
}

.activity-followed--btn {
  display: flex;
  justify-items: center;
  width: 5.6rem;
}

.activity-followed--btn span {
  padding-left: .2rem;
}

/*  ----- Follow view ----- */

.follow-container--div {
  min-height: 60rem;
  min-width: 35vw;
  height: 75vh;
  overflow: hidden;
  overflow-x: scroll;
}


.follow-container--table {  
  overflow: hidden;
  overflow-y: scroll;
}

.follow-activity--div {
  overflow: hidden !important;
  overflow-y: scroll !important;
  height: 65vh !important;
  min-height: 25rem !important;
}

.follow-activity-parent--div {
  margin-top: 1rem;
}

/*

.follow-activity--div {
  width: 100%;
  height: 65vh !important;
  min-width: 50rem !important;
  min-height: 25rem !important;
  overflow: hidden !important;
  overflow-y: scroll !important;
  display: flex !important;
  justify-content: center !important;
}

.follow-activity-container--div {
  min-height: 40rem;
  height: fit-content;
}

.follow-activity--div div {
  width: 90%;
  margin-left: 2%;
}

.follow-activity-parent--div {
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem !important;
}

.follow-activity-tile--div {
  min-width: 35rem;
  max-width: 95rem;
} */
