@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Raleway&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---- Navigation ---- */

.logo-text-sansSerif
{
  font-family: 'Raleway', sans-serif;
  margin-top: .1rem;
  font-size: 1.2rem;
}

.logo-text-serif {
  font-family: 'Noto Serif', serif;
  margin-left: .3rem;
  font-size: 1.2rem;
}

.logo-icon {
  margin-right: .5rem !important;
}

.container-base button {
  padding: 1rem;
  margin: 0 .3rem;
  width: 7rem;
}

.nav-controls div, form, button {
  display: flex;
  justify-content: center;
}

/* ---- Search ---- */

.search-button--span {
  padding-right: .5rem !important;
  width: 7rem;
}

.search-icon {
  margin-right: .2rem !important;
}

/* ---- Home view ---- */

.home-header-dark {
  color: #f1f1f1 !important;
}

.featured-comic--container div img {
  width: 50% !important;
  height: 50% !important;
  margin-left: 25% !important;
}

.newsstand-container {
  overflow-y: auto;
}

.newstand-table {
  overflow-y: scroll;
}

.newstand-container:after{
  content: "";
  display: block;
  width: 100%;
  height: 50rem;
}

.table-row--container {

  height: 9rem;
  max-height: fit-content;
}

.table-row--container th, td {
  text-align: center;
  vertical-align: middle !important;
}

.table-row--container td figure {
  display: grid;
  grid-row-start: 10rem;
  grid-auto-rows: max-content;
  justify-content: center;
  align-content: center;
}

/*  ----- Releases views ----- */

.tag--container {
  margin-top: .5rem !important;
  height: fit-content !important;
  width: 9rem; 
  display: flex;
  justify-content: center;
  align-content: center;
}

.tag--container figure {
  margin-top: .2rem !important;
  height: fit-content !important;
}